<section class="section">
    <div class="cont1">
        <h2>Secciones disponibles</h2>
    </div>
    <div class="user-info">
        <img src="../../../assets/user-photo2.jpg" alt="Foto de usuario" class="user-photo">
        <span class="username">NombreUsuario</span>
    </div>
    <div class="cont2">
        <button pButton label="Ventas" icon="pi pi-shopping-cart" class="ventas" routerLink="/panel/ventas"></button>
        <button pButton label="Pedidos" icon="pi pi-box" class="pedidos" routerLink="/panel/pedidos"></button>
        <button pButton label="Clientes" icon="pi pi-users" class="clientes" routerLink="/panel/cliente"></button>
        <button pButton label="Lista de Precios" icon="pi pi-list" class="lista-precios"
            routerLink="/panel/lista-precios"></button>
        <button pButton label="Usuarios" icon="pi pi-user" class="usuarios" routerLink="/panel/usuarios"></button>
    </div>
    <div class="cerrar-sesion">
        <button class="btn-close-session" routerLink="'/'">Cerrar Sesión</button>
    </div>
</section>