<section class="section">
    <p-toast></p-toast>
    <div class="cont1">
        <h2>Secciones disponibles</h2>
    </div>
    <div class="user-info">
        <img src="../../../assets/user-photo2.jpg" alt="Foto de usuario" class="user-photo">
        <span class="username">{{usuario?.alias}}</span>
    </div>
    <div class="cont2">
        <button *ngFor="let permiso of permisos" pButton label="{{permiso.nombreModulo}}"
            [ngStyle]="{'background-color': permiso.color}" icon="{{permiso.icono}}" class="ventas"
            routerLink="/panel/{{permiso.rutaModulo}}"></button>
    </div>
    <div class="cerrar-sesion">
        <button class="btn-close-session" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</section>