<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../../assets/logo-prueba.jpg" style="width: 35px; height: 35px; border-radius: 50%;" class="img-soderia" alt="" srcset="">
                <h4>Aguas de Mesa Delfina</h4>
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contacto">Contactanos</a>
                    </li>
                </ul>
                <p-button label="Ingresar" icon="pi pi-unlock" [outlined]="true" severity="success" (onClick)="rutaComponent('ingresar')" />
            </div>
        </div>
    </nav>
</div>
