<section class="container-section">
    <header class="header">
        <div class="logo">
            <img src="../../../../assets/logo-prueba.jpg" style="width: 40px; height: 45px; border-radius: 50%;" class="img-style" alt="Logo de la sodería">
        </div>
        <div class="title">
            <h3>Aguas de Mesa Delfina</h3>
        </div>
        <div class="contacto">
            <p>Contactanos</p>
        </div>
        <div class="button">
            <button pButton type="button" label="Ingresar"></button>
        </div>
    </header>
</section>

