.container{
    display: flex;
    justify-content: center;
}

.title{
    color: white;
}

.navbar {
    border-radius: 15px;
    margin: 10px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: fixed;
    z-index: 5;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
}

.nav-style {
    background-color: var(--secondary-color);
    justify-content: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.img-soderia {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.brand-name {
    margin: 0;
    font-size: 1.25rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
    color: white;
}

.nav-link:hover {
    color: var(--color-primaty);
    text-decoration: underline;
}

.btn-outline-success {
    color: white;
    border-color: white;
    transition: all 0.3s ease-in-out;
}

.btn-outline-success:hover {
    background-color: white;
    color: var(--color-primaty);
}

/* header.component.css */
.nav-link.active {
    font-weight: bold;
    color: #1c5560;
  }
  


