.container{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: var(--color-primaty);
    border-radius: 15px;
    color: white;
    margin: 0 auto;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    right: 50px;
}

.name{
    margin-left: 10px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.container-pages{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    gap: 15px;
}

.button{
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.inicio, .contacto{
    text-decoration: none; 
    cursor: pointer;
    transition: width 0.3s ease; 
}

.inicio :hover, .contacto:hover{
    text-decoration: underline;
}