<section class="section">
    <div class="container-inf">
        <div class="title">
            <h1 class="title-clientes">Clientes</h1>
        </div>
        <div class="container-content">
            <div class="filtros">
                <div class="nuevo-cliente">
                    <button pButton pRipple icon="pi pi-plus" label="Registrar Cliente"
                        class="p-button-success registrar-cliente" (click)="showDialog()">
                    </button>
                </div>
                <div class="filters">
                    <div class="title-filters">
                        <h3>Filtros</h3>
                    </div>
                    <div class="container-filters">
                        <label for="filter-id">ID:</label>
                        <input type="text" id="filter-id" (input)="filterClients()" [(ngModel)]="filter.id">

                        <label for="filter-nombre">Nombre:</label>
                        <input type="text" id="filter-nombre" (input)="filterClients()" [(ngModel)]="filter.nombre">

                        <label for="filter-direccion">Dirección:</label>
                        <input type="text" id="filter-direccion" (input)="filterClients()"
                            [(ngModel)]="filter.direccion">
                    </div>

                </div>
            </div>
        </div>
        <div class="container-modal">
            <p-dialog header="Nuevo Cliente" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
                <div class="container-form">
                    <form [formGroup]="clienteForm" class="formulario" (ngSubmit)="registerClient()">
                        <div class="form-group">
                            <label for="nombre">Nombre y Apellido</label>
                            <input type="text" formControlName="nombre" id="nombre">
                            <div class="error-container">
                                <div *ngIf="clienteForm.get('nombre')?.invalid && clienteForm.get('nombre')?.touched"
                                    class="error">
                                    <span class="error-message">Nombre es requerido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo Electrónico</label>
                            <input id="email" formControlName="email" type="email" />
                            <div class="error-container">
                                <div *ngIf="clienteForm.get('email')?.invalid && clienteForm.get('email')?.touched"
                                    class="error">
                                    <span class="error-message">Ingrese un mail válido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono / Celular</label>
                            <input id="telefono" formControlName="telefono" type="text" />
                            <div class="error-container">
                                <div *ngIf="clienteForm.get('telefono')?.invalid && clienteForm.get('telefono')?.touched"
                                    class="error">
                                    <span class="error-message">Ingrese un teléfono válido.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="direccion">Direccíon</label>
                            <input type="text" formControlName="direccion" id="direccion">
                            <div class="error-container">
                                <div *ngIf="clienteForm.get('direccion')?.invalid && clienteForm.get('direccion')?.touched"
                                    class="error">
                                    <span class="error-message">Dirección es requerida.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input type="text" formControlName="ciudad" id="ciudad">
                            <div class="error-container">
                                <div *ngIf="clienteForm.get('ciudad')?.invalid && clienteForm.get('ciudad')?.touched"
                                    class="error">
                                    <span class="error-message">Ciudad es requerida.</span>
                                </div>
                            </div>
                        </div>
                        <div class="container-btn">
                            <button type="button" class="btn-cancelar" (click)="cancelar()">
                                <i class="pi pi-times" style="font-size: 1rem"></i>
                                Cancelar
                            </button>
                            <button type="submit" *ngIf="!editClient" class="btn-register"><i
                                    class="pi pi-check"></i>Registrar</button>
                            <button type="button" *ngIf="editClient" (click)="updateClient()" class="btn-register"><i
                                    class="pi pi-check"></i>Editar</button>
                        </div>
                    </form>
                </div>
            </p-dialog>
        </div>
        <div class="container-table">
        </div>
    </div>
    <div class="table-content">
        <table class="customer-table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre y Apellido</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.ciudad }}</td>
                    <td>
                        <button type="button" title="Editar" (click)="showUpdate(cliente)" class="btn-action edit"><i
                                class="pi pi-pencil"></i></button>
                        <button type="button" title="Eliminar" (click)="deleteClient(cliente.id)"
                            class="btn-action cancel"><i class="pi pi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>