.container-login {
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 1920px;
    width: 100vw; /* Aseguramos que ocupe todo el ancho de la pantalla */
    margin: 0;
    padding: 0;
}

.left-panel, .right-panel {
    flex: 1 1 50%; /* Forzamos que cada panel ocupe el 50% */
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-panel {
    background-color: var(--secondary-color);
    color: white;
}

.left-panel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.right-panel {
    background-color: white;
}

.login-box {
    width: 80%;
    max-width: 400px;
    text-align: center; /* Centra el texto */
}

h2 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    font-weight: 900;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Alinea los textos a la izquierda dentro del formulario */
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--orange-color);
    font-weight: bold;
    font-size: 16px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--organe-color);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:disabled {
    background-color: red;
}



.error-message {
    font-size: 16px;
    font-weight: 500;
}

.error {
    color: red;
}

.volver{
    display: flex;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
    color: var(--organe-color);
    font-size: 16px;
    transition: 0.3s;
}

.volver:hover{
    cursor: pointer;
    color: var(--secondary-color);
}
