.container {
    position: relative;
    min-height: 100vh;
}

.container-content {
    z-index: 1; /* Asegura que el contenido esté por encima del footer */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0; /* Coloca el footer detrás del contenido */
}