/* Opcional: estilo para el footer */
.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* Asegura que el contenedor ocupe todo el ancho */
}

router-outlet {
  flex: 1;
  display: flex;
}



  @media only screen and (max-width: 767px) {
    .contenido {
      align-items: center; /* Centra verticalmente el contenido en pantallas pequeñas */
    }
  }