<div class="ventas-container">
    <div class="title">
        <h1 class="title-ventas">Ventas</h1>
    </div>
</div>

<div class="main-content">
    <div class="form-section">
        <form [formGroup]="ventasForm" class="formulario">
            <div class="form-group">
                <label for="usuario">Usuario</label>
                <input type="text" *ngIf="!isAdmin" id="inputUserVenta" formControlName="usuario">
                <select id="usuario" *ngIf="isAdmin" formControlName="usuario">
                    <option value="">Seleccionar usuario</option>
                    <option *ngFor="let usuario of usuarios" [value]="usuario.idUser">{{ usuario.alias }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="cliente">Cliente</label>
                <input type="text" id="cliente" formControlName="cliente" (input)="onClientInput()"
                    (blur)="onClientBlur()" />
                <ul *ngIf="filteredClients.length > 0" class="client-list">
                    <li *ngFor="let client of filteredClients" (click)="selectClient(client)">{{ client.nombre }}</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="metodoPago">Método de Pago</label>
                <select id="metodoPago" formControlName="metodoPago">
                    <option *ngFor="let metodo of metodosPago" [value]="metodo.id">{{ metodo.nombre }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="fecha">Fecha</label>
                <input id="fecha" formControlName="fecha" type="date" />
            </div>
        </form>

        <div class="form-group">
            <label for="producto">Producto</label>
            <input type="text" name="producto" id="producto" [(ngModel)]="inputProducto" (keydown)="filtrarProducto()">
            <div class="lista" *ngIf="productosVentas.length>0">
                <ul *ngFor="let prod of productosVentas">
                    <li (click)="agregarProducto(prod)">{{prod.nombre}}</li>
                </ul>
            </div>

        </div>
        <div class="button-registrar">
            <button type="submit" (submit)="registerSell()">Registrar Venta</button>
        </div>
        <div class="venta">
            <table>
                <thead>
                    <tr>
                        <th>Nombre del Producto</th>
                        <th>Cantidad Unidades</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productoSeleccionados; let i = index">
                        <td>{{ producto.nombre }}</td>
                        <td><input type="number" name="cantUnidades" id="cantUnidaes" (input)="calcularTotal()"
                                [(ngModel)]="producto.cantidadUnidades" placeholder="Cantidad Unidades"></td>
                        <td>
                            {{ producto.cantidadSeleccionada === null || producto.cantidadSeleccionada === 0 ?
                            (producto.precio | currency:'ARS') :
                            (producto.precio * producto.cantidadUnidades | currency:'ARS')
                            }}
                        </td>
                        <td>
                            <button type="button" (click)="eliminarProducto(i)"><i class="pi pi-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="total">
            <h4>Total Venta: {{totalVenta}}</h4>
        </div>


    </div>

    <div class="table-section">
        <h3>Historial de Ventas</h3>
        <div class="filtro-container">
            <!-- Filtro por cliente -->
            <div class="filtro-item">
                <label for="cliente">Cliente:</label>
                <input id="cliente" type="text" (input)="onClientFilterInput()" placeholder="Buscar cliente...">
                <ul class="dropdown-list" *ngIf="filteredClients.length > 0">
                    <li *ngFor="let client of filteredClients" (click)="selectClient(client)">{{ client.name }}</li>
                </ul>
            </div>

            <!-- Filtro por fecha -->
            <div class="filtro-item">
                <label for="fecha">Fecha:</label>
                <input id="fecha" type="date">
            </div>

            <!-- Filtro por rango de fechas -->
            <div class="filtro-item">
                <label for="rango-fechas">Rango de Fechas:</label>
                <select id="rango-fechas">
                    <option value="hoy">Hoy</option>
                    <option value="ayer">Ayer</option>
                    <option value="ultimos-7-dias">Últimos 7 días</option>
                    <option value="ultimos-30-dias">Últimos 30 días</option>
                </select>
            </div>
            <div class="section-filter-2">
                <div class="filtro-item">
                    <label for="usuario">Usuario:</label>
                    <input id="usuario" type="text" placeholder="Buscar usuario...">
                </div>

                <!-- Botón de búsqueda -->
                <div class="filtro-item">
                    <button type="button" (click)="applyFilters()">Aplicar Filtros</button>
                </div>
            </div>
            <!-- Filtro por usuario -->

        </div>
        <div class="tabla">
            <table class="ventas-table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                        <th>Total</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venta of ventasData">
                        <td>{{ venta.cliente }}</td>
                        <td>{{ venta.fecha }}</td>
                        <td>{{ venta.hora }}</td>
                        <td>{{ venta.usuario }}</td>
                        <td>{{ venta.metodoPago }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>