<section class="section-container">
    <div class="section-content" id="nosotros">
        <div class="container-title" >
            <h1 class="title-nosotros" style="color: white;">Sobre Nosotros</h1>
        </div>
        <p-card header="" class="card-info1">
            <div class="row g-0 mb-5 card1">
                <div class="container-imgs">
                    <p-carousel 
                        [value]="imagenes" 
                        [numVisible]="3" 
                        [numScroll]="1" 
                        [responsiveOptions]="responsiveOptions"
                        [circular]="true"
                        autoplayInterval="3000"
                        class="fixed-carousel">
                        <ng-template let-product pTemplate="item">
                            <div class="border-1 surface-border border-round m-2 p-3">
                                <div class="mb-3">
                                    <div class="relative mx-auto">
                                        <img 
                                            src="../../../assets/{{product.nombre }}" 
                                            [alt]="product.nombre" 
                                            class="carousel-image border-round" />
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
                <div class="col-md-8 container-sub-inf">
                    <div class="card-body">
                        <p class="card-text">
                            Descubre la historia de Aguas de Mesa Delfina, una sodería con raíces familiares arraigadas en Villa Maria desde hace más de 15 años. Fundada por Mariano Donayo, quien heredó el legado de su padre, la sodería nació de la necesidad en el barrio y la ausencia de un repartidor de soda.
                            Aguas de Mesa Delfina combina tradición y expansión, con planes futuros de aumentar la producción, ampliar el personal y adquirir más vehículos de reparto para seguir ofreciendo productos de calidad a una comunidad en crecimiento.
                        </p>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</section>
<app-time-line id="historia"></app-time-line>

