<section class="section-footer">
    <div class="container-footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>© {{actualYear}} Aguas de Mesa Delfina. Todos los derechos reservados.</p>
            </div>
            <div class="footer-right">
                <div class="contact-info">
                    <p>Email: <a href="mailto:info@aguasdemesa.com">Envianos un Mail</a></p>
                    <p>Teléfono: <a href="tel:+543534060236">+53 353 406 0236</a></p>
                    <p>Dirección: <a href="https://www.google.com/maps/place/Los+Talas+321,+Villa+Maria,+Argentina" target="_blank">Los Talas 321, Villa Maria, Argentina</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
