<aside class="sidebar" [ngClass]="{'sidebar-collapsed': !isExpanded}">
    <div class="container-inf">
        <img src="../../../../assets/LogoKikon.png" class="img-soderia" alt="Logo del Sistema Synergia">
        <h2 class="system-name">Synergia</h2>
    </div>
    <nav class="sidebar-nav">
        <ul class="nav-list" *ngFor="let modulo of modulos">
            <li><a routerLink="/panel/{{modulo.rutaModulo}}" routerLinkActive="active-link"
                    [routerLinkActiveOptions]="{exact: true}"><i class="{{modulo.icono}}"></i>
                    <span>{{modulo.nombreModulo}}</span></a></li>
        </ul>
        <div class="user-info">
            <img src="../../../assets/user-photo2.jpg" alt="Foto de usuario" class="user-photo">
            <span class="username">{{usuario?.alias}}</span>
        </div>
        <div class="menu">
            <button type="button" class="menu-button" routerLink="/menu"><i class="pi pi-bars"></i></button>
        </div>
        <div class="btn-container">
            <button type="button" class="btn-cerrar-sesion" (click)="cerrarSesion()"><i class="pi pi-lock"></i></button>
        </div>
    </nav>

    <button class="toggle-button" (click)="toggleSidebar()">
        <i class="pi pi-chevron-left" *ngIf="isExpanded"></i>
        <i class="pi pi-chevron-right" *ngIf="!isExpanded"></i>
    </button>
</aside>