<aside class="sidebar">
    <div class="container-inf">
        <img src="../../../assets/logo-sistema.jpeg" class="img-soderia" alt="Logo del Sistema Synergia">
        <h2 class="system-name">Synergia</h2>
    </div>
    <nav class="sidebar-nav">
        <ul class="nav-list">
            <li><a routerLink="/panel/cliente"><i class="pi pi-users"></i> Clientes</a></li>
            <li><a routerLink="/panel/ventas"><i class="pi pi-money-bill"></i> Ventas</a></li>
            <li><a routerLink="/panel/recorridos"><i class="pi pi-route"></i> Recorridos</a></li>
            <li><a routerLink="/panel/usuarios"><i class="pi pi-tag"></i> Usuarios</a></li>
            <li><a routerLink="/panel/pedidos"><i class="pi pi-shopping-cart"></i> Pedidos</a></li>
            <!-- Asegúrate de usar routerLink para las otras rutas según sea necesario -->
        </ul>
    </nav>
</aside>
