.all-container{
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  gap: 10px;
  border-radius: 5px;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  border-radius: 15px;
  padding: 40px 20px;
  background-color: var(--bg-color);
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.container-form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.container-form h2 {
  margin-bottom: 10px;
  color: var(--text-color);
}

.container-form p {
  margin-bottom: 20px;
  color: var(--text-color);
}

.container-maps-faq {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  margin: 20px;
  border-radius: 8px;
}

.container-maps {
  margin-bottom: 20px;
}

.contact-details p {
  margin: 5px 0;
}

.contact-details a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-details a:hover {
  text-decoration: underline;
}

form {
  width: 100%;
}

.group-input {
  margin-bottom: 20px;
}

.group-input label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-color);
}

.group-input input,
.group-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.group-input input:focus,
.group-input textarea:focus {
  border-color: var(--primary-color);
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

.error {
  color: var(--error-color);
  font-size: 14px;
  margin-top: 5px;
}

.container-btn {
  display: flex;
  justify-content: flex-end;
}

.p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--primary-color);
}

.p-button:disabled {
  background-color: #6c757d;
  border-color: #6c757d;
}

.p-button:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .content-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .container-form,
  .container-maps-faq {
    max-width: 100%;
  }

  .container-maps iframe {
    width: 100%;
  }

  .container-faq {
    display:flex;
    position: absolute;
    align-items: center;
    z-index: 5;
    flex-direction: row;
    max-width: 500px;
    padding: 15px;
    bottom: -220px;
  }

  .FAQ{
    color: var(--secondary-color) !important;
  }
}

.container-logo {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.style-logo {
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.FAQ{
  color: var(--bg-color);
}

.container-faq {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  max-width: 500px;
  padding: 15px;

}