<div class="pedidos-container">
    <div class="title">
        <h1 class="title-ventas">Pedidos</h1>
    </div>
</div>

<div class="main-content">
    <div class="form-section">
        <form [formGroup]="pediosForm" class="formulario" (ngSubmit)="registerPedidos()">
            <div class="form-group">
                <label for="clientePedido">Cliente *</label>
                <input type="text" id="clientePedido" formControlName="cliente" (input)="onClientInput(1)"
                    (blur)="onClientBlur()" />
                <ul *ngIf="filteredClients.length > 0" class="client-list">
                    <li *ngFor="let client of filteredClients" (click)="selectClient(client)">{{ client.nombre }}</li>
                </ul>
            </div>

            <div class="form-group">
                <label for="total">Direccion *</label>
                <input id="total" formControlName="direccion" type="text" step="0.01" />
            </div>

            <div class="form-group">
                <label for="telefono">Telefono *</label>
                <input id="total" formControlName="telefono" type="tel" step="0.01" />
            </div>

            <div class="form-group">
                <label for="observaciones">Observacion</label>
                <input type="text" name="observaciones" id="observaciones" formControlName="observaciones" step="0.01">
            </div>

            <div class="form-group">
                <label for="Productos">Productos</label>
                <input type="text" #inputProduct (input)="filterProd($event)"
                    [disabled]="pediosForm.value.idCliente == 0">
                <div class="lista">
                    <ul *ngFor="let prod of productosFiltered">
                        <li (click)="addProduct(prod)">{{prod.nombre}} - ${{prod.precio}}</li>
                    </ul>
                </div>
            </div>

            <div class="form-groupb content-table-detalle">
                <table class="ventas-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Unidades</th>
                            <th>$ Precio</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productoSeleccionados">
                            <td>{{ producto.nombre }}</td>
                            <td><input type="number" name="cantUnidades" id="cantUnidaes" class="cant-unidades-input"
                                    (input)="agregarUnidades($event, producto)" (change)="calcularTotal()"
                                    [(value)]="producto.cantidadUnidades" placeholder="Cantidad Unidades"></td>
                            <td>
                                {{ producto.cantidadUnidades === null || producto.cantidadUnidades === 0 ?
                                (producto.precio | currency:'ARS') :
                                (producto.precio * producto.cantidadUnidades | currency:'ARS')
                                }}
                            </td>
                            <td>
                                <button type="button" class="btn-delete" (click)="deleteItemPedido(producto)"><i
                                        class="pi pi-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-btn">
                <button type="button" *ngIf="!pedidoSelect" class="cancelar-venta"
                    (click)=" cancelarRegistro()">Cancelar
                    Registro</button>
                <button type="submit" *ngIf="!pedidoSelect" class="register-venta">Registrar Pedido</button>
                <button type="button" *ngIf="pedidoSelect" class="cancelar-venta" (click)="cancelar()">Cancelar</button>

                <button type="button" *ngIf="pedidoSelect" class="register-venta"
                    (click)="updateInfoPedido()">Actualizar</button>
            </div>
        </form>
    </div>

    <div class="table-section">
        <h3>Pedidos del dia</h3>
        <div class="filtro-container">
            <!-- Filtro por cliente -->
            <div class="filtro-item">
                <label for="cliente">Cliente:</label>
                <input id="cliente" type="text" (input)="onClientFilterInput(2, $event)"
                    placeholder="Buscar cliente...">
            </div>
            <div class="filtro-item">
                <label for="fecha">Fecha del Pedido</label>
                <input type="date" class="input-date" (input)="filterDate($event)" [(ngModel)]="fechaPedido">
            </div>
            <div class="filtro-item">
                <label for="estado">Estado</label>
                <select id="estado" class="select-filter" #estadoSelect (change)="filterEstado($event)">
                    <option value="">Seleccionar estado</option>
                    <option value="0">Todos</option>
                    <option value="1">Recibido</option>
                    <option value="2">Entregado</option>
                    <option value="3">Cancelado</option>
                </select>
            </div>
            <button (click)="resetearFiltro()" class="btn-clear" title="Limpiar Filtros"><i
                    class="pi pi-trash"></i></button>
            <div class="filtros-fecha" *ngIf="showRangeDateFilter">
                <label for="fechaDesde">Desde:</label>
                <input type="date" id="fechaDesde" [(ngModel)]="fechaDesde">

                <label for="fechaHasta">Hasta:</label>
                <input type="date" id="fechaHasta" [(ngModel)]="fechaHasta">

                <button (click)="filterByRangeDate()" class="btn-range-date">Filtrar</button>
            </div>

        </div>
        <div class="tabla">
            <table class="ventas-table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Fecha de Pedido</th>
                        <th>Direccion</th>
                        <th>Barrio</th>
                        <th>Observaciones</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pedidos of pedidosData">
                        <td>{{ pedidos.nombre }}</td>
                        <td>{{ pedidos.fechaRegistro | date :'dd-MM-YYYY'}}</td>
                        <td>{{ pedidos.direccion }}</td>
                        <td>{{ pedidos.barrioCliente }}</td>
                        <td>{{ pedidos.observaciones || "Sin Registrar"}}</td>
                        <td>{{ pedidos.estado }}</td>
                        <td class="actions">
                            <button type="button" title="Ver Detalle de pedido" (click)="verDetalle(pedidos)"><i
                                    class="pi pi-info-circle"></i></button>
                            <button type="button" title="Cambiar Estado" (click)="showUpdateStatus(pedidos)"
                                class="change-status p-button p-button-rounded p-button-info">
                                <i class="pi pi-sync"></i>
                            </button>
                            <button type="button" title="Modifcar Pedido" (click)="updatePedido(pedidos)"
                                class="delete p-button p-button-rounded">
                                <i class="pi pi-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container-modal">
        <p-dialog header="Modificar Estado" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }">
            <div class="container-form">
                <form [formGroup]="pediosForm" class="formulario" (ngSubmit)="updateStatus()">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select formControlName="estado" id="estado" class="select-filter">
                            <option value="">Seleccionar estado</option>
                            <option value="1">Recibido</option>
                            <option value="2">Entregado</option>
                            <option value="3">Cancelado</option>
                        </select>
                        <div class="error-container">
                            <div *ngIf="pediosForm.get('estado')?.invalid && pediosForm.get('estado')?.touched"
                                class="error">
                                <span class="error-message">El estado es requerido.</span>
                            </div>
                        </div>
                    </div>
                    <div class="container-btn">
                        <button type="button" class="btn-cancelar" (click)="cancelar()">
                            <i class="pi pi-times" style="font-size: 1rem"></i>
                            Cancelar
                        </button>
                        <button type="submit" class="btn-register"><i class="pi pi-check"></i>Actualizar</button>
                    </div>
                </form>
            </div>
        </p-dialog>
    </div>

</div>