/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";




:root{
    --color-primaty:#1c5560;
    --secondary-color: #001f36;
    --green-color:#79ae92;
    --gray-color:#f8f9fa;
    --backgroud-color:#fbffcd;
    --black-color:hsl(0, 0%, 96%);
    --bg-color: #f8f9fa;
    --text-color: #343a40;
    --error-color: #dc3545;

}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    background-color: var(--gray-color) !important;
    /* background-color: var(--black-color); */
}

@media only screen and (max-width: 768px) {
    body,html{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


